/* styles for evaluation */
.evaluations{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 100px;
    background: var(--clr-slate-300);
}

.evaluations h2{
    color: var(--clr-slate-500);
    font-size: 20px;
    font-weight: 550;
    padding-left: 10px;
    padding-block: 30px;
}


.evaluation_form{
    margin-inline: 10px;
    padding: 10px;
    background: var(--clr-slate-dflt);
    border: var(--clr-slate-1140);
    border-radius: 5px;
}

.evaluation_form form{
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--clr-slate-1140);
}

.evaluation_form h3{
    font-size: 18px;
    font-weight: 800;
}

.evaluation_form p{
    padding-block: 20px;
    font-size: 12px;
    color: var(--clr-slate-700);
}

.form_input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.form_input img{
    position: absolute;
}

.form_input img:first-child{
    top: 12px;
}

.form_input img:nth-child(2){
    top: 60px;
}

.form_input img:nth-child(3){
    top: 105px;
}


.form_input form{
    padding: 10px;
    border: 1px solid var(--clr-slate-700);
}

.form_input input{
    width: 100%;
    padding-block: 10px;
    padding-left: 30px;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--clr-slate-1140);
    outline: var(--mini-ms-bg);
}

#submit_form{
    margin-top: 20px;
    border-radius: 3px;
    padding: 10px 20px;
}



.evaluation_form form input::placeholder{
    font-size: 10px;
}

.evaluation_form form h4{
    font-size: 16px;
}

@media (min-width:768px) {
    .evaluations{
        padding-bottom: 60px;
        padding-inline: 30px;
    }

    .evaluations h2{
        padding-block: 60px;
    }

    .evaluation_form{
        padding: 40px;
    }
}
@media (min-width:1000px) {
    .form_input input{
        width: 80%;
    }

    .evaluation_form p{
        width: 400px;
    }

    .evaluation_form form{
        width: 60%;
    }
}

@media (min-width:1200px) {
    .evaluations h2{
        font-size: 40px;
    }

    .evaluations h3{
        font-size: 30px;
    }

}