/* styles used for the header */
.sticky_header{
    position: sticky;
    top: 0;
    z-index: 100000;
    width: 100%;
    background: white;
    padding-block: 20px;
    transition: .3s ease-in-out;
}

.sticky_header.stick{
    box-shadow: 0 4.4px 12px rgba(19%, 16%, 34%, 6%);
}


header{
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
}


/* styles for link holding the header */
.logo a{
    align-items: center;
    display: flex;
    gap: 4px;
    flex-direction: row;
}

.logo a img:first-child,
.logo_demacation{
    display: none;
}

.logo_demacation{
    width: 2px;
    border-radius: 4px;
    height: 30px;
    background: black;
}


.union{
    padding-left: 4px;
}


/* text beside the logo by the right side */
.ac-dashboard{
    display: flex;
    font-size: 30px;
    padding-inline: 0.3rem;
}



/* full abbreviation for the ACD LOGO */
.acd-full{
    font-size: 4.9px;
    color: var(--clr-slate-600);
    font-weight: 800;
}



/* styles for the colors of the short abbrv of the logo */
.access-logo-txt{
    color: var(--clr-slate-200);
}

.comply-logo-txt{
    color: var(--clr-slate-300);
}

.dashboard-logo-txt{
    color: var(--mini-msg-bg);
}



/* navigation */
.navigation{
    display: none;
}

/* container holding the navigation links */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

/* lsits holding the navigation links */
nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    position: relative;
}

/* anchor tags used for the links */
nav ul li a{
    font-weight: 450;
    font-size: 13px;
    color: var(--clr-slate-400);
}

/* styles for the evaluation hyperlink */
.evaluation{
    position: relative;
}

.compliance{
    font-weight: 700;
    position: relative;
}

.compliance img{
    position: absolute;
    bottom: -25px;
    left: 2px;
}


.evaluation::after{
    content: '';
    position: absolute;
    width: 75%;
    height: 3px;
    bottom: -0.7rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    transition: 0.1s ease-out;
    background: var(--clr-slate-300);
}


.evaluation:hover::after{
    display: none;
}

.evaluation::before{
    content: '';
    position: absolute;
    width: 0;
    left: 50%;
    height: 3px;
    bottom: -0.7rem;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background: var(--clr-slate-300);
    transition: 0.3s ease-in-out;
}


.evaluation:hover::before{
    width: 75%;
}

.evaluation sup{
    position: absolute;
    right: -20px;
    top: -15px;
    font-size: 10px;
    color: var(--clr-slate-dflt);
    background: var(--clr-slate-300);
    padding: 1px 7px;
    border-radius: 10px;
    box-shadow: 0 1.17px 4.7px rgba(0, 0, 0, 25%);
}


nav ul img{
    position: absolute;
    bottom: 0;
    left: 50px;
}




/* disability button */
.disability-btn{
    display: none;
}


.disability-btn a{
    align-items: center;
    display: flex;
    color: white;
    gap: 0.4rem;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 40px;
    background: var(--clr-slate-300);
}

/* style for handburger menu */
menu div{
    background: var(--clr-slate-100);
    margin: 6px 0;
    width: 23px;
    height: 2px;
    border-radius: 5px;
}
menu{
    cursor: pointer;
}


/* media queries */

@media (min-width:768px) {
    .ac-dashboard{
        font-size: 37px;
        font-weight: 900;
    }

    .acd-full p{
        font-size: 8px;
    }
}

@media (min-width:1200px) {

    header{
        padding-inline: 50px;
    }


    .logo a img:first-child,
    .logo_demacation{
        display: block;
    }

    .navigation{
        display: block;
    }
    .disability-btn{
        display: block;
    }

    menu{
        display: none;
    }
}